# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/
# Ignore playground training data and scripts
playground/data/llava_pretrain/
playground/data/llava_pretrain_2/
llava/train/playground/
playground/
